body {
  overflow: hidden;
}

.App {
  text-align: center;
}

.Logo {
  text-align: center;
  background: linear-gradient(to right, #ff0000, #FF7A00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.App-header {
  background-color: #252525;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  padding-bottom: 75%;
  justify-content: center;
  font-size: calc(125px + 2vmin);
}

