.App {
  text-align: center;
}

.Logo {
  text-align: center;
  vertical-align: middle;
  font-size: 750%;
  background: linear-gradient(to right, #ff0000, #FF7A00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.App-header {
  background-color: #252525;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}
