body {
  overflow: hidden;
  background-color: #252525;
}

.Dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.Progress-bar {
  padding-top: 5vh;
  height: 20vh;
}

.Landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  flex-wrap: wrap;
}

.Logo {
  background: linear-gradient(to right, #ff0000, #ff9500);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 18vw;
  margin: 0;
}

.Input-container {
  display: inline-block;
  width: 47vw;
  align-content: center;
}

.URL-input {
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: #343434;
  height: 4vh;
  color: #ffffff;
  padding-left: 0.5vw;
  font-weight: bold;
  font-size: 2.5vh;
  width: 81%;
  border: none;
}

.URL-submit {
  border: none;
  float: right;
  border-radius: 8px;
  outline: none;
  background-image: linear-gradient(to right, #ff0000, #ff9500);
  color: #ffffff;
  width: 7vw;
  height: 4vh;
  font-size: 2.5vh;
  font-weight: bold;
}

.URL-input::placeholder {
  padding-left: 0.1vw;
  font-weight: bold;
  color: linear-gradient(to right, #ff0000, #ff9500);
}

.Table {
  width: 50vw;
  justify-content: center;
}